NEXT_PUBLIC_SUPABASE_URL="https://icyntgrtgmiisfzwnogj.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljeW50Z3J0Z21paXNmendub2dqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2MDk3MTcsImV4cCI6MjA4MTE4NTcxN30.hAWTAXpYKYDTtUd_T01SM7skaNSDBCCuUA06CUw-TKs"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljeW50Z3J0Z21paXNmendub2dqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTYwOTcxNywiZXhwIjoyMDgxMTg1NzE3fQ.unXkid4HENObw60zh5yxUNJXbl9oetLu07qzc-7m1VU"
